<style type="text/css">
  #proveedor_paise_id{ width:270px; }
</style>

<% form_for(@proveedor) do |f| %>
  <%= f.error_messages %>
<table width="30%" align="center"  >
  <tr>
    <td>
      <p>
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
      </p>
      <p>
        <%= f.label :pais, "País" %>
        <%= f.collection_select :paise_id, Paise.all(:order => "nombre ASC"), :id, :nombre, :include_blank => true, :size => 15 %>
      </p>
      <!--<p>
      <p>
        <%= f.label :ciudad %>
        <%= f.text_field :ciudad %>
      </p>
      -->
      <p>
        <%= f.label :direccion %>
        <%= f.text_field :direccion %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :telefono %>
        <%= f.text_field :telefono %>
      </p>
      
    </td>  
  </tr>  
</table>

      <p align="center">
        <%= f.submit 'Salvar' %>
      </p>
<% end %>
