<% form_for(@personal) do |f| %>
  <%= f.error_messages %>
  
<table width="65%" align="center"  >
  <tr>
    <td>
      <p>
        <%= f.label :nombres %><br />
        <%= f.text_field :nombres %>
      </p>
      <p>
        <%= f.label :paterno %><br />
        <%= f.text_field :paterno %>
      </p>
      <p>
        <%= f.label :materno %><br />
        <%= f.text_field :materno %>
      </p>
      <p>
        <%= f.label :cedula_identidad %><br />
        <%= f.text_field :cedula_identidad %>
      </p>
      <p>
        <%= f.label :cargo %><br />
        <%= f.text_field :cargo %>
      </p>
      <p>
        <%= f.label :sueldo %><br />
        <%= f.text_field :sueldo %>
      </p>
    </td>  
    <td>
      <p>
        <%= f.label :direccion %><br />
        <%= f.text_field :direccion %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :fecha_ingreso %><br />
        <%= f.date_select :fecha_ingreso %>
      </p>
      <p>
        <%= f.label :fecha_salida %><br />
        <%= f.date_select :fecha_salida %>
      </p>
      
      <p>
        <%= f.label :telefono %><br />
        <%= f.text_field :telefono %>
      </p>
    </td>
  </tr>
</table>

      <p align="center">
        <%= f.submit 'Salvar' %>
      </p>
<% end %>