<%= simple_form_for(@seguimiento) do |f| %>
  <% if @seguimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seguimiento.errors.count, "error") %> prohibited this seguimiento from being saved:</h2>

      <ul>
      <% @seguimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :carpeta, :label => 'Carpeta' %>

  <div class="input">
    <label for="">Cliente</label>
    <span id="cliente"></span>
  </div>

  <div class="input">
    <label for="">Liquidador</label>
    <span id="liquidador"></span>
  </div>

  <%= f.input :recinto, :collection => Seguimiento::RECINTOS %>

  <%= f.input :regimen, :label => 'Régimen' %>
  
  <%= f.input :elaboracion_dav, :label => "Elaboración dav" %>

  <%= f.input :elaboracion_dui, :label => "Elaboración dui" %>

  <%= f.input :validacion_dui, :label => 'Validación dui' %>

  <%= f.input :numero_registro, :label => 'Número registro' %>

  <%= f.input :pago_tributos %>

  <%= f.input :canal, :collection => Seguimiento::CANALES %>

  <%= f.input :impresion_dui_dav %>

  <%= f.input :presentacion_carpeta %>

  <%= f.input :asignacion_tecnico %>

  <%= f.input :levante_mercancia %>

  <%= f.input :pago_almacenaje_entrega %>

  <%= f.input :facturacion %>

  <%= f.input :observaciones, :as => :text, :input_html => {:rows => 5} %>


  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $(function() {
      function obtenerDatos(id) {
        $.ajax({
          'url': '/carpetas/' + id + '/datos',
          'dataMethod': 'get',
          'dataType': 'json',
          'success': function(resp) {
            $('#cliente').html(resp.cliente);
            $('#liquidador').html(resp.liquidador);
          }
        });
      }

      $('#seguimiento_carpeta_id').change(function() {
        var id = $(this).val();
        if(id == '')
          return false;
        obtenerDatos(id);
      });

      var carpeta_id = $('#seguimiento_carpeta_id').val();
      if(carpeta_id != "")
        obtenerDatos(carpeta_id);
  });
</script>
