<h1>Listing seguimientos</h1>

<p class="links">
  <%= link_to 'New Seguimiento', new_seguimiento_path %>
</p>

<table>
  <tr>
    <th>Recinto</th>
    <th>Regimen</th>
    <th>Elaboracion dav</th>
    <th>Elaboracion dui</th>
    <th>Validacion dui</th>
    <th>Numero registro</th>
    <th>Pago tributos</th>
    <th>Canal</th>
    <th>Impresion dui dav</th>
    <th>Presentacion carpeta</th>
    <th>Asignacion tecnico</th>
    <th>Levante mercancia</th>
    <th>Pago almacenaje entrega</th>
    <th>Facturacion</th>
    <th>Observaciones</th>
    <th>Carpeta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seguimientos.each do |seguimiento| %>
  <tr>
    <td><%= seguimiento.recinto %></td>
    <td><%= seguimiento.regimen %></td>
    <td><%= seguimiento.elaboracion_dav %></td>
    <td><%= seguimiento.elaboracion_dui %></td>
    <td><%= seguimiento.validacion_dui %></td>
    <td><%= seguimiento.numero_registro %></td>
    <td><%= seguimiento.pago_tributos %></td>
    <td><%= seguimiento.canal %></td>
    <td><%= seguimiento.impresion_dui_dav %></td>
    <td><%= seguimiento.presentacion_carpeta %></td>
    <td><%= seguimiento.asignacion_tecnico %></td>
    <td><%= seguimiento.levante_mercancia %></td>
    <td><%= seguimiento.pago_almacenaje_entrega %></td>
    <td><%= seguimiento.facturacion %></td>
    <td><%= seguimiento.observaciones %></td>
    <td><%= seguimiento.carpeta_id %></td>
    <td><%= link_to 'Show', seguimiento %></td>
    <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento) %></td>
    <td><%= link_to 'Destroy', seguimiento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


