<h1>Listing seguimientos</h1>

<p class="links">
  <%= link_to 'New Seguimiento', new_seguimiento_path %>
</p>

<table>
  <tr>
    <th title="Recinto">Reci</th>
    <th title="Regimen">Regi</th>
    <th>Elabor dav</th>
    <th>Elabor dui</th>
    <th>Valid dui</th>
    <th>Numero registro</th>
    <th>Pago tributos</th>
    <th>Canal</th>
    <th>Imp dui dav</th>
    <th>Presen carpeta</th>
    <th>Asig tecnico</th>
    <th>Levante mercancia</th>
    <th>Pago almacenaje entrega</th>
    <th>Facturacion</th>
    <th>Observaciones</th>
    <th>Carpeta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seguimientos.each do |seguimiento| %>
  <tr>
    <td><%= seguimiento.recinto %></td>
    <td><%= seguimiento.regimen %></td>
    <td><%= lo seguimiento.elaboracion_dav %></td>
    <td><%= lo seguimiento.elaboracion_dui %></td>
    <td><%= lo seguimiento.validacion_dui %></td>
    <td><%= seguimiento.numero_registro %></td>
    <td><%= lo seguimiento.pago_tributos %></td>
    <td><%= seguimiento.canal %></td>
    <td><%= lo seguimiento.impresion_dui_dav %></td>
    <td><%= lo seguimiento.presentacion_carpeta %></td>
    <td><%= lo seguimiento.asignacion_tecnico %></td>
    <td><%= lo seguimiento.levante_mercancia %></td>
    <td><%= lo seguimiento.pago_almacenaje_entrega %></td>
    <td><%= lo seguimiento.facturacion %></td>
    <td><%= seguimiento.observaciones %></td>
    <td><%= seguimiento.carpeta_id %></td>
    <td><%= link_to 'Show', seguimiento %></td>
    <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento) %></td>
    <td><%= link_to 'Destroy', seguimiento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


