<h1>Listing seguimientos</h1>

<p class="links">
  <%= link_to 'New Seguimiento', new_seguimiento_path %>
</p>

<p>
  <%= render :partial => "layouts/buscar" %>
</p>
<%= will_paginate @seguimientos %>

<table>
  <tr>
    <th>Orden de Servicio</th>
    <th title="Recinto">Reci</th>
    <th title="Regimen">Regi</th>
    <th style="white-space:nowrap">Elab dav<br/><i>Elab dui</i><br/>Valid dui</th>
    <th>Numero registro</th>
    <th>Pago tributos</th>
    <th>Canal</th>
    <th>Imp dui dav</th>
    <th>Presen carpeta</th>
    <th>Asig tecnico</th>
    <th>Levante mercancia</th>
    <th>Pago almacenaje entrega</th>
    <th>Facturacion</th>
    <th>Observaciones</th>
    <th>Carpeta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seguimientos.each do |seguimiento| %>
  <tr>
    <td><%= seguimiento.carpeta.orden_servicio %></td>
    <td><%= seguimiento.recinto %></td>
    <td><%= seguimiento.regimen %></td>
    <td style="white-space:nowrap">
      <span title="Elaboración dav"><%= lo seguimiento.elaboracion_dav %></span><br/>
      <i><span title="Elaboración dui"><%= lo seguimiento.elaboracion_dui %></span></i><br/>
      <span title="Validación dui"><%= lo seguimiento.validacion_dui %></span>
    </td>
    <td><%= seguimiento.numero_registro %></td>
    <td><%= lo seguimiento.pago_tributos %></td>
    <td><%= seguimiento.canal %></td>
    <td><%= lo seguimiento.impresion_dui_dav %></td>
    <td><%= lo seguimiento.presentacion_carpeta %></td>
    <td><%= lo seguimiento.asignacion_tecnico %></td>
    <td><%= lo seguimiento.levante_mercancia %></td>
    <td><%= lo seguimiento.pago_almacenaje_entrega %></td>
    <td><%= lo seguimiento.facturacion %></td>
    <td><%= seguimiento.observaciones %></td>
    <td><%= seguimiento.carpeta_id %></td>
    <td><%= link_to 'Show', seguimiento %></td>
    <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento) %></td>
    <td><%= link_to 'Destroy', seguimiento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


