<h1>Seguimiento</h1>

<p class="links">
  <%= link_to 'Editar', edit_seguimiento_path(@seguimiento) %> |
  <%= link_to 'Lista', seguimientos_path %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Recinto:</b>
  <%= @seguimiento.recinto %>
</p>

<p>
  <b>Regimen:</b>
  <%= @seguimiento.regimen %>
</p>

<p>
  <b>Elaboracion dav:</b>
  <%= @seguimiento.elaboracion_dav %>
</p>

<p>
  <b>Elaboracion dui:</b>
  <%= @seguimiento.elaboracion_dui %>
</p>

<p>
  <b>Validacion dui:</b>
  <%= @seguimiento.validacion_dui %>
</p>

<p>
  <b>Numero registro:</b>
  <%= @seguimiento.numero_registro %>
</p>

<p>
  <b>Pago tributos:</b>
  <%= @seguimiento.pago_tributos %>
</p>

<p>
  <b>Canal:</b>
  <%= @seguimiento.canal %>
</p>

<p>
  <b>Impresion dui dav:</b>
  <%= @seguimiento.impresion_dui_dav %>
</p>

<p>
  <b>Presentacion carpeta:</b>
  <%= @seguimiento.presentacion_carpeta %>
</p>

<p>
  <b>Asignacion tecnico:</b>
  <%= @seguimiento.asignacion_tecnico %>
</p>

<p>
  <b>Levante mercancia:</b>
  <%= @seguimiento.levante_mercancia %>
</p>

<p>
  <b>Pago almacenaje entrega:</b>
  <%= @seguimiento.pago_almacenaje_entrega %>
</p>

<p>
  <b>Facturacion:</b>
  <%= @seguimiento.facturacion %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @seguimiento.observaciones %>
</p>

<p>
  <b>Carpeta:</b>
  <%= @seguimiento.carpeta_id %>
</p>


