<h1>Lista Tipo Documentos</h1>

<%= link_to 'Nuevo Tipo Documento', new_tipo_documento_path %>

<table>
  <tr>
    <th>Tipo doc</th>
    <th>T doc</th>
    <th>Descripcion</th>
  </tr>

<% @tipo_documentos.each do |tipo_documento| %>
  <tr>
    <td><%=h tipo_documento.tipo_doc %></td>
    <td><%=h tipo_documento.t_doc_id %></td>
    <td><%=h tipo_documento.descripcion %></td>
    <td><%= link_to 'Show', tipo_documento %></td>
    <td><%= link_to 'Edit', edit_tipo_documento_path(tipo_documento) %></td>
    <td><%= link_to 'Destroy', tipo_documento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

