<p>
  <b>Tipo doc:</b>
  <%=h @tipo_documento.tipo_doc %>
</p>

<p>
  <b>T doc:</b>
  <%=h @tipo_documento.t_doc_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @tipo_documento.descripcion %>
</p>


<%= link_to 'Editar', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'Atras', tipo_documentos_path %>