<h1>Lista Documentos</h1>

<p>
<%= link_to 'Nuevo Documento', new_documento_path %>
</p>

<p>
  <%= render :partial => 'layouts/buscar' %>
</p>

<%= will_paginate @documentos %>
<table border="1">
  <tr>
    <th>Orden Servicio - Nro Carpeta </th>
    <th>Liquidador</th>
    <th>Cliente</th>
    <th>Mercancia</th>
    <th>Peso</th>
    <th>Observaciones</th>
  </tr>

<% @documentos.each do |documento| %>
  <tr>
    <td><%=h documento.carpeta %></td>
    <td><%=h documento.carpeta.personal %></td>
    <td><%=h documento.carpeta.cliente %></td>
    <td><%=h documento.mercancia %></td>
    <td><%=h documento.peso %></td>
    <td><%=h documento.descripcion_documentos %></td>
    <td><%= link_to 'Ver', documento %></td>
    <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
    <td><%= link_to 'Eliminar', documento, :confirm => 'Estas seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


