<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Despachos aduaneros</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'estilos_mm', 'plain', :cache => 'all_styles' %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'rails', 'application', :cache => 'js' %>
  </head>
  <body>

    <div id="wrapper">
      <div id="header">
      </div>
      <% if session[:usuario_id] %>
        <%= render :partial => 'layouts/menu' %>
      <% end %>
  
      <div id="cont">
        <div id="flashnotice"><%= flash[:notice] %></div>
        <div id="flasherror"><%= flash[:error] %></div>
        <%= yield %>    
      </div>

    </div>
  </body>
  
</html>  


